# Ignore all PNG files
*.png

# excpet the images for README.md
!images/*.png

# Ignore .drawio files
*.drawio

# Other ignore rules can go here
# For example:
# Ignore all log files
*.log

# Ignore temporary files
*.tmp

# Ignore Python cache directories
__pycache__/

# Ignore the raw data
data/

# ignore the original raw data
data - original/

# Ignore the raw data
processed_data/

# Ignore the helper functions
helper/*

# unignore helper/
!helper/

# Except createDataSplit.py
!helper/createDataSplit.py

# Ignore all .pt files
*.pt

# But don't ignore best_model.pt
!best_model.pt