# Ignore all PNG files
*.png

# Other ignore rules can go here
# For example:
# Ignore all log files
*.log

# Ignore temporary files
*.tmp

# Ignore Python cache directories
__pycache__/

# Ignore the raw data
data/

# Ignore the raw data
processed_data/

# Ignore the helper functions
helper/

# Ignore Stored Model
*.pt